extends html

snippet {{
	{{ $${1} }}

snippet !!
	{!! $${1} !!}

snippet if
	@if (${1}) 
		${2} 
	@endif
	
snippet foreach
	@foreach($${1} as $${2:element}) 
		${3}
	@endforeach

snippet inc
	@include('${1}'${2:, ['some' => 'data']})
